.second{
    margin-left:auto;
    margin-right:auto;
    margin-top:350px;
    width:60%;
}

.new-room{
height:30% ;
border: white;
border-bottom:blue;
border-style: solid;
margin-top:auto;
text-align: center;
}

.join-room{
height:30% ;
border: white;
border-style: solid;
margin: 0 auto;
text-align: center;
}
.center{
    
    margin:0 auto;
}




.main{
    margin-left: 10%;
    margin-right:10%;
    margin-top:auto;
}
.logo{
text-align: center;
height:400px;
}
.buttons{
    height:70% ;

    align-items: center;
    text-align: center;

    

}
#button1{
    width:100%;
    margin-bottom:10px;
    border-radius: 25px;
}
#button2{
    width:100%;
    margin-bottom:10px;
    border-radius: 25px;
}
#button3{
    width:100%;
    margin-bottom:10px;
    border-radius: 25px;
}