.roomlist{
    width:100%;
    padding-left:20px;
    margin-top:11.8px;
  
  }
 
  .memberList{
    width:100%;
    
    background-color:#f8f8f8;
    margin:0 auto;
    padding-top:0.2px;
    padding:20px;
  }
  .memberList p{
    margin-top:11.8px;
    width: 180px;
    height: 15px;
    font-family: NotoSansCJKkr;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
  }
 
  .roomDetail img{
        width: 100%;
        height: 52px;
      
  }
  
  .RoomForm{
    height:598px;
    width: 300px;
    margin: 0 auto;
  }
  .RoomForm form{
      height:524.2px;
  }
  .RoomForm h1{ 
      width: 117px;
    height: 45px;
    font-family: NotoSansCJKkr;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
  }
  .RoomCreate #submit{
    width: 100%;
    height: 52px;
    object-fit: contain;
    margin-top:136px;
  }
 
  .login{
    margin-left: 10%;
    margin-right:10%;
    margin-top:auto;
}

.main{
    margin-left:auto;
    margin-right:auto;
    margin-top:200px;
    width:60%;
}
.logo{
text-align: center;
height:400px;
}
.buttons{
    height:70% ;

    align-items: center;
    text-align: center;

    

}
#button1{
    width:100%;
    margin-bottom:10px;
    border-radius: 25px;
}
#button2{
    width:100%;
    margin-bottom:10px;
    border-radius: 25px;
}
#button3{
    width:100%;
    margin-bottom:10px;
    border-radius: 25px;
}

.new-room{
  height:30% ;
  border: white;
  border-style: solid;
  margin-top:auto;
  text-align: center;
  }
  
  .join-room{
  height:30% ;
  border: white;
  border-style: solid;
  margin: 0 auto;
  text-align: center;
  }
  .center{
      
      margin:0 auto;
  }
  .location{
      width:320px;
      margin-top:14px;
      float: clear;
  }
  .location label{
    width: 47px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
  }
  .location p{
      margin-top:2px;
    width: 300px;
  height: 24px;
  opacity: 0.5;
  font-family: NotoSansCJKkr;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #707070;  
  }
 