
.banner{
    height:116.2px;
    width:100%;
  }
  .banner h1{
    width: 138px;
    height: 50px;
    font-family: NotoSansCJKkr;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
    margin-top:124px;
    margin-left:20px;
  }
  .banner p{
    width: 307.6px;
    height: 61.3px;
    font-family: NotoSansCJKkr;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2ce570;
    margin-left:20px;
    margin-top:4.9px;
  }
  .room{
    border: 1px;
    border-style: solid;
    width:154px;
    height:160px;
    float: left;
    border-radius: 10px;
    margin-bottom: 12px;
    margin-right:12px;
  }
  .room p{
    width: 50px;
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    margin-left:52px;
    margin-top:21.6px;
  }
  .profile{
    width: 33.9px;
  height: 33.9px;
  object-fit: contain;
  margin-left:60px;
  margin-top:4.9px;
  }
  .newroom{

    
    border: 1px;
    border-style: solid;
    width:154px;
    height:160px;
    float: left;
    margin-right:12px;
    border-radius: 10px;
    margin-bottom: 12px;
  }
  .newroom p{
    width: 54px;
    height: 20px;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    margin-left:50px;
  }
  .plus{
    margin-top:53px;
    margin-left:64px;
    width: 26px;
    height: 26px;
    object-fit: contain;
  }
  .navbar{
    display: flex;
    width:100%;
    height: 50px;
    background-color:white;
    padding-bottom: 14px;
  }
 
.name{
    margin-top: 14px;
}
.ㅜname label{
  width: 36px;
  height: 18px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222222;



  
}
.name p{
  margin-top:2.2px;


  
  width: 220px;
  height: 12px;
  opacity: 0.5;
  font-family: NotoSansCJKkr;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #707070;

}

.form-control{

  width: 300px;
  height: 34px;
  border-radius: 6px;
  background-color: #f0f0f0;
}
.num{
  float:left;
  width: 144px;
  height: 18px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222222;

}
.num label{
  width: 360px;
  height: 733px;
  background-color: #ffffff;
}
.num p{
  margin-top:1.2px;
  width: 100px;
  height: 12px;
  opacity: 0.5;
  font-family: NotoSansCJKkr;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.time{ 
  float:left;
  width: 144px;
  height: 18px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  margin-left: 12px;
}
.time label{
  width: 47px;
  height: 18px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.time p{
  margin-top:1.2px;
  width: 81px;
  height: 12px;
  opacity: 0.5;
  font-family: NotoSansCJKkr;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.numandtime{
  width:300px;
  height:80px;
  margin-top: 14px;
}

  #selectnum{
    width: 144px;
  height: 34px;
  border-radius: 6px;
  background-color: #f0f0f0;
  margin-top: 7.8px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}
.navbarForCreate{
  margin-left:20px;
    margin-top: 20px;
    width:100%;
    height: 40px;
}
.navbarForCreate #cancel{
  margin-left:1px;
  float : left;
  width: 12px;
  height: 12px;
  object-fit: contain;
}
#back{
  width: 17.8px;
  height: 14.8px;
  object-fit: contain;
  margin-left:1px;
  margin-top:36px;
  margin-left: 20px;
  margin-bottom:16.2px;
  }
#title{
  margin-left:auto;
  margin-right:auto;
  margin-top:36px;
  width: 70px;
  height: 20px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #222222;

  }
  #reload{
    margin-left:auto;
    margin-right:14.7px;
    margin-bottom:14.4px;
    margin-top:32px;
    width: 19.6px;
    height: 19.6px;
  }
  #cancel{

    margin-left:auto;
    margin-right:20px;

    margin-top:36px;
    margin-bottom:18px;
    width: 12px;
    height: 12px;
    object-fit: contain;
  }
  .location-map{
    height:285px;
    width:300px;
    background-color:beige;
  }
   
  .member{
    width:320px;
    height: 92px;
    background-color:#ffffff;
    margin-top: 11.8px;
    border-radius: 6px;
    
  }
 .colorPicker{
   width: 300px;
   margin-top: 14px;
 }
 .colorPicker label{
  width: 36px;
  height: 18px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
 }

.colorPicker p{
width: 200px;
height: 24px;
opacity: 0.5;
font-family: NotoSansCJKkr;
font-size: 8px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #707070;
margin-top:2.2px;
}
 #appt-time{
  width: 144px;
  height: 34px;
  border-radius: 6px;
  background-color: #f0f0f0;
  margin-top:7.8px;
 }
 .map{
  width: 360px;
  height: 285px;
  object-fit: contain;
  background-color:beige;
 }